{% extends "base.html"%}

{% block app_content %}
<a href="{{ url_for('jogos.create') }}" class="btn btn-default">Novo Jogo</a>
<br>
<br>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>RODADA</th>
      <th>TIME MANDANTE</th>
      <th>GOLS</th>
      <th>X</th>
      <th>GOLS</th>
      <th>TIME VISITANTE</th>
    </tr>
  </thead>  
  <tbody> 
    {% for time in times %}
    {% for jogo in jogos %}
    <tr>
      <td>{{ Jogos.time.RODADA }}</td>
      <td>{{ Jogos.time.time_mandante_id }}</td>
      <td>{{ Jogos.time.gols_mandante }}</td>
      <td>X</td>
      <td>{{ Jogos.time.gols_visitante }}</td>
      <td>{{ Jogos.time.time_visitante_id }}</td>
    </tr>
  </tbody>
  {% endfor %}  
  {% endfor %} 
</table>

{% endblock %}