{% extends "base.html"%}

{% block app_content %}

<a href="{{ url_for('jogos.create') }}" class="btn btn-default">Novo Jogo</a>
<br>
<br>
<table class="table table-striped">
    <thead>    
    <tr>
      <th>RODADA</th>
      <th>TIME MANDANTE</th>
      <th>GOLS</th>
      <th>TIME VISITANTE</th>
      <th>GOLS</th>
    </tr>
  </thead>  
  <tbody id="Corpo"> 
  {% for time in times %}
    <tr>
      <td>{{time.data}}</td>
      <td><img class="escudo-mini" src="{{ time.escudo }}"></td>
      <td>{{time.gols_mandante}}</td>
      <td><img class="escudo-mini" src="{{ time.escudo }}"></td>
      <td>{{time.gols_visitante}}</td>
  {% endfor %}
    </tr>    
  </tbody>    
</table>
{% endblock %}