{% extends "base.html"%}

{% block app_content %}

<a href="{{ url_for('jogos.create') }}" class="btn btn-default">Novo Jogo</a>
<br>
<br>
<table class="table table-dark table-hover"> 
    <thead>    
    <tr>
      <th>RODADA</th>
      <th>TIME MANDANTE</th>
      <th>GOLS</th>
      <th>TIME VISITANTE</th>
      <th>GOLS</th>
    </tr>
  </thead>  
  <tbody id="Corpo"> 
    {% for jogo in jogos %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  {% endfor %}  
</table>
{% endblock %}