{% extends "base.html"%}

{% block app_content %}
<table class="table table-striped text-left">
	<thead class="table table-striped text-center">
		<tr>
			<th></th>
			<th>Time</th>
			<th><abbr title="Pontos">P</abbr></th>
			<th><abbr title="Jogos">J</abbr></th>
			<th><abbr title="Vitórias">V</abbr></th>
			<th><abbr title="Empates">E</abbr></th>
			<th><abbr title="Derrotas">D</abbr></th>
			<th><abbr title="Gols Pro">GP</abbr></th>
			<th><abbr title="Gols Contra">GC</abbr></th>
			<th><abbr title="Saldo de Gols">SG</abbr></th>
			<th><abbr title="Cartões Amarelos">CA</abbr></th>
			<th><abbr title="Cartões Vermelhos">CV</abbr></th>
		</tr>
	</thead>  
	<tbody>
		{% for time in times %}
		<tr>
			<td><img class="escudo-mini" src="{{ time.escudo }}"> </td>
			<td>{{time.nome}}</td>
			<td>{{time.pontos}}</td>
			<td>{{time.jogos|length}}</td>
			<td>{{time.vitorias}}</td>
			<td>{{time.empates}}</td>
			<td>{{time.derrotas}}</td>
			<td>{{time.gols_pro}}</td>
			<td>{{time.gols_contra}}</td>
			<td>{{time.gols_pro-time.gols_contra}}</td>
			<td>{{time.cartoes_amarelos}}</td>
			<td>{{time.cartoes_vermelhos}}</td>			
		</tr>	
		{% endfor %}
	</tbody>
</table>
	{% endblock %}
